body {
    
}

#editor {
    border-radius: 2.5%;
    box-shadow: thistle 3em 3em;
}


ul {
    list-style: none;   
    padding-left: 0;
}

li:hover {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    cursor: pointer;
}

.skill-delete {
    margin-top: 50%;
}